body {
    background-color: #263238;
    color: #263238;
    font-family: Arial;
    font-weight: bold;
}

.wi {
    font-size: 5em;
}

.container {
    min-height: 95%;
    min-height: 95vh;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.card {
    margin: 0 auto;
    border: none;
    border-radius: 0;
    width: 500px;
}

.card-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0 7px 9px -7px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.card-content > * {
    margin: auto;
}

.left-tabs {
    float: left;
}

.right-tabs {
    float: right;
}

.left-tabs .tab:first-child {
    border-bottom-right-radius: 5px;
}

.left-tabs .tab:last-child {
    border-bottom-left-radius: 5px;
    margin-left: 10px;
}

.right-tabs .tab:first-child {
    border-bottom-right-radius: 5px;
    margin-right: 10px;
}

.right-tabs .tab:last-child {
    border-bottom-left-radius: 5px;
}

.tab {
    color: white;
    float: right;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    min-width: 20px;
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
    cursor: hand;
    cursor: pointer;
    transition: padding-top 0.2s, margin-bottom 0.2s;
}

.tab:hover {
    padding-top: 25px;
    margin-bottom: 0px;
}

.github-tab {
    background-color: black;
}

.linkedin-tab {
    background-color: #0077B5;
}

.units-tab {
    background-color: #1ABC9C;
}

.darksky-tab {
    background-color: white;
    height: 18px;
}

.weather-type {
    text-align: center;
}

.temp {
    font-size: 2em;
}

img {
    height: 18px;
}